In [4]:
# Run this cell without changes
import pandas as pd
df = pd.read_csv("blood_pressure.csv", index_col=0)
df

     Age    bmi   wc   hc  whr     SBP
0     31  28.76   88  101   87  128.00
1     21  27.59   86  110   78  123.33
2     23  22.45   72  104   69   90.00
3     24  28.16   89  108   82  126.67
4     20  25.05   81  108   75  120.00
..   ...    ...  ...  ...  ...     ...
219   21  45.15  112  132   85  157.00
220   24  37.89   96  124   77  124.67
221   37  33.24  104  108   96  126.67
222   28  35.68  103  130   79  114.67
223   18  36.24  113  128   88  119.67

[224 rows x 6 columns]

In [15]:
X = df.drop(columns=SBP, inplace=True)
X.head()

NameError: name 'SBP' is not defined